  <div align="center">
    <table cellpadding="3" cellspacing="0">
      <tr>
        <td align="right" valign="top" width="30%" rowspan="3">
          <img src="contact_photo" width="100" vspace="1">
        </td>
        <td align="left" width="70%"><font size="+2"><b>{{ contact.name }}</b></font></td>
      </tr>
      <tr>
        <td align="left" width="70%">{{ contact.role }}</td>
      </tr>
      <tr>
        <td align="left" width="70%">{{ contact.organization }}</td>
      </tr>
      {% if contact.birthday %}
        {% with contact.birthdayi18n as title %}
        {% with contact.birthday as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% for phoneNumber in contact.phoneNumbers %}
        {% if phoneNumber.smsLink %}
          {% with phoneNumber.type as title %}
          {% with phoneNumber.numberLink|safe|add:" "|add:phoneNumber.smsLink|safe as value %}
          {% include "contact_row.html" %}
          {% endwith %}
          {% endwith %}
        {% else %}
          {% with phoneNumber.type as title %}
          {% with phoneNumber.numberLink|safe as value %}
          {% include "contact_row.html" %}
          {% endwith %}
          {% endwith %}
        {% endif %}
      {% endfor %}

      {% for email in contact.emails %}
        {% with contact.emailsi18n as title %}
        {% with email|safe as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endfor %}

      {% if contact.website %}
        {% with contact.websitei18n as title %}
        {% with contact.website|safe as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% if contact.blogUrl %}
        {% with "Blog Feed" as title %}
        {% with contact.blogUrl|safe as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% for address in contact.addresses %}
        {% with address.type as title %}
        {% with address.formattedAddressLink|safe as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endfor %}

      {% if contact.imAddress %}
        {% with contact.imAddressi18n as title %}
        {% with contact.imAddress as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% if contact.profession %}
        {% with contact.Professioni18n as title %}
        {% with contact.profession as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% if contact.department %}
        {% with contact.departmenti18n as title %}
        {% with contact.department as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% if contact.office %}
        {% with contact.officei18n as title %}
        {% with contact.office as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% if contact.manager %}
        {% with contact.manageri18n as title %}
        {% with contact.manager as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% if contact.assistant %}
        {% with contact.assistanti18n as title %}
        {% with contact.assistant as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% if contact.spouse %}
        {% with contact.spousei18n as title %}
        {% with contact.spouse as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% if contact.anniversary %}
        {% with contact.anniversaryi18n as title %}
        {% with contact.anniversary as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}

      {% for customField in contact.customFieldsUrl %}
        {% with customField.title as title %}
        {% with customField.value|safe as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endfor %}

      {% for customField in contact.customFields %}
        {% with customField.title as title %}
        {% with customField.value as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endfor %}

      {% if contact.addressBookName %}
        {% with contact.addressBookNamei18n as title %}
        {% with contact.addressBookName as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}
      {% if contact.note %}
        {% with contact.notei18n as title %}
        {% with contact.note as value %}
        {% include "contact_row.html" %}
        {% endwith %}
        {% endwith %}
      {% endif %}
    </table>
    <p align="center">
     <img src="datamatrix" vspace="1">
     <img src="qrcode" vspace="1">
    </p>
  </div>
